  #bubble-circle-div {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  border-radius: 10px;
  padding-top: 30px;
  width: 700px;
  height: 630px;
  background: #68ED09;
  opacity: 1;
  z-index: 100000000;
  font-family: 'Poppins';
  display: inline;
}
.hero-body {
  position: relative;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.flex-content {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.arrow:hover {
  font-size: 48px;
}

* {
            box-sizing: border-box
        }
html, body {
            width: 100%;
            overflow: hidden;
            color: black;
            font-family: poppins;
            text-align: center;
        }
        .glider-contain {
            width: 100%;
            height: 100%;
/*            max-width: 997px;*/
            margin: 0 auto;
        }
        .glider-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 300px;
/*            border: 3px solid currentColor;*/
            background-image: url('logo.svg');
            background-size:contain;
            background-repeat: no-repeat;
            background-position: center;

        }
        .glider-slide img {
            width: 100%;
        }
        .glider-slide .slide-title {
            font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
            /* https://modernfontstacks.com/ */
            font-size: 3rem;
            position: relative;
            top: 100px;
        }
        .glider-prev{  
            position: absolute;
            margin-top: auto;
            margin-bottom: auto;
            top: 0;
            bottom: 0;
        }
        .glider-next{  
            position: absolute;
            margin-top: auto;
            margin-bottom: auto;
            top: 0;
            bottom: 0;
            color: white;
        }

.langs{
/*  background: #000035*/
/*  background-image: linear-gradient(to left top, #000051, #00014c, #000247, #000241, #00013c, #00013c, #00013c, #00013c, #000241, #000247, #00014c, #000051);*/

}

.pages-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  height: 100vh; /* Adjust the height as needed */
}

.pages-items {
  display: flex; /* Ensures flexbox layout for centering */
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  flex-grow: 10;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  font-size: 4vw;
  color: black;
  order: 0;
  height: 100%; /* Ensures the height is inherited from the parent */
  transition: background-color 1s ease;
}

.aplicacao:hover {
  color: black; /* Ensure the text color does not change on hover */
/*  text-decoration:none;*/
  background: deepskyblue;
}

.fundamentos:hover {
  color: black; /* Ensure the text color does not change on hover */
/*  text-decoration:none;*/
  background: goldenrod;
}

.ferramenta:hover {
  color: black; /* Ensure the text color does not change on hover */
/*  text-decoration:none;*/
  background: darkseagreen;
}


.figures-items {
  display: flex; /* Ensures flexbox layout for centering */
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  text-align: center;
  flex-direction: column;
  flex-grow: 10;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  font-size: 4vw;
  color: black;
  order: 0;
  height: 100%; /* Ensures the height is inherited from the parent */
  transition: background-color 1s ease;
}

/*.pages-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.pages-items:nth-child(1) {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  justify-content: center;
  align-items: center;
  order: 0;
}

.pages-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.pages-items:nth-child(3) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}*/

.topnav {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/* Style the links inside the navigation bar */
.topnav button {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 5px;
  border-radius: 6px;
  border-color: black;
  font-family: IBM Plex Mono;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav button.active {
  border-color: black!important;
  border-width: 5px;
  font-weight: bold;
  border-style: solid;
}
.network-container{
  flex: 1 1 auto;
  position: relative;
}

#mynetwork {
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        position: absolute;
        height: 100%;
        border: 1px dashed; black;
        border-width: 4px!important;
        border-radius: 20px;
        z-index: 10000;
    }

.divNode{
  background: rgba(250, 250, 250, 0.9);
  border-radius: 10px;
  border: 1px solid; black;
  border-width: 3px!important;
  height: 100px;
  width: 300px;
  padding: 10px;
}

.divNodeText{
  text-align: center;
}


.PythonFuns{
  background: rgba(201, 201, 201, 0.9);
  border-radius: 10px;
  border: 1px solid; black;
  border-width: 3px!important;
  height: 100px;
  width: 300px;
  padding: 10px;
}

.path-options{
  height: 100%;
}

.container, .results-container {
    width: 300px; /* Set the same width for both containers */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 90px;
    margin: auto;
    margin-top: 50px;
    /* grid-template-columns: auto auto auto auto; */
    /* grid-template-rows: auto auto auto auto; */
    justify-content: center;
    align-content: center;
    font-size: 32px;
}

.results-container {
    margin-top: 20px; /* Add margin-top for the results container */
    justify-content: left; /* Ensure items within the grid are left-aligned */
}

.container div, .results-container .result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left; /* Left-align items within the grid */
}


.results-container div {
    display: flex;
    align-items: center;
}

input {
    margin-left: 10px;
}
label.inactive, .result.inactive label {
    color: blue;
}
label.active, .result.active label {
    color: green;
}
.calculated {
    color: blue;
}
.defined {
    color: green;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    font-size: 20px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}